//for homepage

#start-assessment-button{
  margin: 3vh 0;
  font-weight: 500;
}


.intro{
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


#home{
  background-color: #F5F5F5;
  padding-top: 1px;
}

.home_container{
  min-width: 100%;
}

@media only screen and (max-width: 768px) {
  .intro{
  padding: 7% 5% 10% 5%;
  margin: 2% 4%;
}

#procrastionation_img{
  max-width: 100%;
  margin-bottom: 3vh;
}
}


@media only screen and (min-width: 768px) {
    .intro{
  padding: 2% 15% 2% 15%;
  margin: 2% 10%;
}

#procrastionation_img{
  max-width: 100%;
  margin-bottom: 3vh;
}

}

//home end