#HowItWorks{
  border-radius: 3%; /* NEW */
  box-shadow: 0 0 0 1% #522d5b;
	text-align: center;
	padding: 2% 0;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(96,240,219,0) 100%, rgba(0,212,255,1) 100%);
	h1{
		color: white;
		padding: 1% 0;
	}
}

#HowItWorks-row{
	margin: 0 10%;
	}