#nav-icon{
  max-width: 20px;
}
#navbar{
  position: sticky;
  top: 0;
  background-color: #5072A7;
  }
.nav-link, .navbar-brand{
  color: white !important;
}
#logo{
  padding-left: 1%;
  font-weight: bold;
  font-size: 2rem;
}
