#nav-icon{
  max-width: 20px;
}

#navbar{
  z-index: 999;
  position: sticky;
  top: 0;
  background: rgb(2,0,36);
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(95,9,121,1) 100%, rgba(0,212,255,1) 100%);
  }

.nav-link, .navbar-brand{
  color: white !important;
}

#logo{
  padding-left: 1%;
  font-weight: bold;
  font-size: 1.5rem;
}
