@import "./resets";

/*notes-
set scroll to zero after changing question

style back and next button for bigger display sizes*/

/*for navbar component*/

nav {
  min-width: 100%;
  min-height: 6vh;
  background-color: black;
  color: white;
  text-align: center;
}

/*navbar end*/

$font: (
  "h1": 2rem,
  "p": 20px,
);

@mixin h1 {
  font-size: map-get($font, "h1");
  font-weight: 900;
  line-height: 40px;
  letter-spacing: -0.02em;
  font-family: (arial, sans-serif);
  display: block;
}

@mixin p() {
  font-size: map-get($font, "p");
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.003em;
  font-family: (arial, sans-serif);
  display: block;
}

@mixin back_next_button() {
  margin: auto;
    display: block;
    margin-bottom: 5vh;
}

#main {
  margin: 4% 30% 0 30%;
}

#title {
  @include h1;
}

.text {
  @include p;
}

/* for profile picture and the two paragraphs floating in its left */
#header {
  display: inline-block;
}

#pfp {
  float: left;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

#pfp-text {
  float: left;
  margin-left: 0.5rem;
  line-height: 60%;

  &-name:hover {
    font-weight: bold;
  }
}

#form-div {
  max-width: 300px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  align-items: center;
  font-size: 1rem;
}

/*for asessment component*/

#question{
  font-size: 1.2rem;
  font-weight: bold;
}

#asessment {
  text-align: justify;
  margin: 5vh 5% 5% 5%;
  padding: 5% 5% 5% 5%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
}

#a,
#b,
#c,
#d {
  padding: 3% 0% 3% 6%;
  align-items: center;
  position: flex;
}

 $button-margin: 10%;

  #back-button{
    @include back_next_button;
    float: left;
    margin-left: $button-margin;
  }
  #next-button{
    @include back_next_button;
    float: right;
    margin-right: $button-margin;
  }

/*asessment end*/

/*for the about us component*/

#about{
  background-color: #F5F5F5;
  padding-top: 1px;
}

#card-title{
  color: green; 
}

 .about-box {
  font-family: Comic Sans MS, Comic Sans, cursive;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
} 

/*about us end*/


@media only screen and (max-width: 768px) {
  //for about us


#card-title{
  text-align: center;
}

 .about-box {
  text-align: center;
  margin: 5% 5% 0% 5%;
  padding: 10%;
}

.team-card{
  padding-top: 1%;
}

//about us end

}


@media only screen and (min-width: 768px) {
  //for assessment//
  #asessment {
  margin: 2vh 20% 1% 20%;
  padding: 1% 2% 0 2%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
  text-align: justify;
  }

  #asessment-component {
  #back-button {
    margin: auto;
    display: block;
    margin-bottom: 5vh;
  }

  #a, #b, #c, #d{
    padding-bottom: 0;
  }
}
  //assessment end

  // for about component

  #card-title{
   padding: 2% 0% 0% 0%;
   font-size: 2rem;
   color: green; 
}

 .about-box {
  font-size: 1.2rem !important;
  text-align: center;
  margin: 2% 10%;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.about_paragraph, #cardgroup {
  padding: 1% 15% 5% 15%;

}

.team-card {
  margin-left: 3%;
  width: 30%;
  display: inline-block !important;
}

// about end

}